@mixin font-face($font-family, $font-weight, $font-style, $font-url) {
  @font-face {
    font-family: $font-family;
    src: $font-url;
    font-weight: $font-weight;
    font-display: swap;
    font-style: $font-style;
  }
}
