.additionally__title {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-family: "Oswald", sans-serif;
}

.additionally__item h3 {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.additionally__item span {
  font-size: 14px;
  line-height: 14px;
}

.additionally__item {
  list-style: none;
}
