.button {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  background-color: #68b738;
  border: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 10px 63.5px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
  }
}
