.catalog-products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding: 28px 0 42px;
  font-weight: 400;
}

.catalog-products__img-mini,
.catalog-products__img {
  display: block;
}

@media (max-width: 767px) {
  .catalog-products__title {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #ebebeb;
    }

    &::before {
      content: "";
      background-color: #d9d9d9;
      height: 1px;
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
    }
  }

  .catalog-products__product-card {
    position: relative;
    margin-bottom: 1px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #ebebeb;
    }
  }

  .catalog-products__img-mini,
  .catalog-products__img {
    margin: auto;
  }
}

.catalog-products__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-products__product-card {
  padding: 20px 0 25px;
}

@media (min-width: 768px) {
  .catalog-products {
    margin-bottom: 74px;
  }

  .catalog-products__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
    row-gap: 140px;
  }

  .catalog-products__product-card {
    width: 324px;
    min-height: 430px;
    background-color: #f2f2f2;
    padding: 0 37px 40px;
    box-sizing: border-box;
  }

  .catalog-products__title {
    padding: 0;
    margin: 51px 0 165px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  .catalog-products {
    margin-bottom: 71px;
  }

  .catalog-products__list {
    grid-template-columns: repeat(4, 245px);
    gap: 144px 80px;
  }

  .catalog-products__title {
    margin-top: 60px;
  }

  .catalog-products__product-card {
    width: 245px;
    padding: 0 38px 40px;
  }
}
