.catalogs__title {
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
  font-weight: 400;
  margin-bottom: 29px;
}

.catalogs {
  margin-bottom: 20px;
}

.catalogs__item {
  list-style: none;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 30px 0 18px 20px;
  position: relative;
}

.catalogs__list {
  padding: 0;
  margin: 0;
}

.catalogs__item:last-child {
  margin: 0;
}

.catalogs__description {
  margin: 0;
  width: 227px;
  margin-bottom: 23px;
}

.catalogs__link {
  color: #000000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 16px;
  text-decoration: none;
  position: relative;
  padding-right: 37px;
}

.catalogs__title--massive::before {
  background-image: url("../../icons/stack.svg#pumped-cat-mobile");
  content: "";
  width: 67px;
  height: 50px;
  position: absolute;
  background-size: 67px 50px;
  background-repeat: no-repeat;
  left: 13px;
  top: 24px;

  @media (min-width: 768px) {
    background-image: url("../../icons/stack.svg#pumped-cat-tablet");
    background-size: 268px 200px;
    width: 268px;
    height: 200px;
  }

  @media (min-width: 1200px) {
    background-image: url("../../icons/stack.svg#pumped-cat-desktop");
    background-size: 134px 100px;
    width: 134px;
    height: 100px;
  }
}

.catalogs__title--thin::before {
  background-image: url("../../icons/stack.svg#skinny-cat-mobile");
  content: "";
  width: 50px;
  height: 53px;
  position: absolute;
  background-size: 50px 53px;
  background-repeat: no-repeat;
  left: 20px;
  top: 21px;

  @media (min-width: 768px) {
    background-image: url("../../icons/stack.svg#skinny-cat-tablet");
    background-size: 200px 211px;
    width: 200px;
    height: 211px;
  }

  @media (min-width: 1200px) {
    background-image: url("../../icons/stack.svg#skinny-cat-desktop");
    background-size: 100px 106px;
    width: 100px;
    height: 106px;
  }
}

.catalogs__link::after {
  mask-image: url("../../icons/stack.svg#tip");
  mask-size: 9px 12px;
  width: 9px;
  height: 12px;
  mask-repeat: no-repeat;
  background-color: #000000;
  content: "";
  position: absolute;
  left: 101px;
  top: 5px;
}

.catalogs__link::before {
  content: "";
  height: 2px;
  width: 18px;
  background-color: #000000;
  position: absolute;
  left: 86px;
  top: 10px;

  @media (min-width: 768px) {
    top: 14;
    left: 127px;
  }
}

@media (min-width: 768px) {
  .catalogs__item {
    margin-bottom: 30px;
    padding: 77px 0 53px 52px;
  }

  .catalogs__link {
    font-size: 20px;
    line-height: 100%;
    padding-right: 47px;

    &::after {
      left: 142px;
      top: 9px;
    }
  }

  .catalogs__description {
    margin-bottom: 48px;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  .catalogs__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  .catalogs__title--massive::before {
    top: 81px;
    right: 29;
    left: auto;
  }

  .catalogs__title--thin::before {
    top: 91px;
    right: 63px;
    left: auto;
  }

  .catalogs {
    margin-bottom: 45px;
  }
}

@media (min-width: 1200px) {
  .catalogs__item {
    width: 570px;
    margin: 0;
    margin-right: 80px;
    padding-bottom: 53px;
  }

  .catalogs__list {
    display: flex;
  }

  .catalogs__description {
    width: 457px;
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 24px;
  }

  .catalogs__title {
    margin-left: 162px;
    margin-bottom: 73px;
    font-size: 36px;
    line-height: 36px;
  }

  .catalogs__link {
    font-size: 20px;
    line-height: 100%;
  }

  .catalogs__title--thin::before {
    top: 41px;
    right: auto;
    left: 52px;
  }

  .catalogs__title--massive::before {
    top: 47px;
    right: auto;
    left: 33px;
  }

  .catalogs {
    margin-bottom: 71px;
  }

  .catalogs__link::after {
    transition: left 0.3s ease;
  }

  .catalogs__link:hover::after {
    left: 150px;
  }

  .catalogs__link::before {
    transition: width 0.3s ease;
  }

  .catalogs__link:hover::before {
    width: 26px;
  }

  .catalogs__link:active {
    opacity: 30%;
  }
}
