.choose__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  background-color:green;
  margin: 0 auto;
  margin-bottom: 25px;
}

.choose__slogon {
  line-height: 14px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  background-color:green;
  margin: 0;
}
