.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__expenses {
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  color: #000000;
}
