.example-indicator p {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;
}

.example-indicator span {
  font-size: 12px;
  line-height: 12px;
}
