.header__logo-text-link {
  display: block;
  margin-left: 56px;
}

.header {
  padding: 13px 0 10px;
  position: relative;
}

.header__logo-text--catalog {
  @media (max-width: 767px) {
    display: block;
  }
}

.header__cat-feed {
  width: 100vw;
  transform: translateX(-50%);
  left: 50%;
  height: 302px;
  position: absolute;
  background: linear-gradient(to right, #4f4e53 0%, #4f4e53 50%, #434247 50%, #434247 100%);
  z-index: -2;
  top: 65px;
  min-width: 320px;

  &::after {
    background-image: url("../../images/cat-feed-background-mobile@1x.jpg");
    content: "";
    background-size: cover;
    width: 320px;
    height: 302px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/cat-feed-background-mobile@2x.jpg");
    }
  }

  &::before {
    position: absolute;
    content: "";
    background-color: #68b738;
    min-width: 320px;
    width: 100vw;
    transform: translateX(-50%);
    left: 50%;
    height: 302px;
    z-index: 1;
    opacity: 85%;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header {
    position: static;
  }

  .header__cat-feed {
    display: block;
    height: 694px;
    width: 50vw;
    left: auto;
    right: 0;
    transform: none;
    top: 0;

    &::before {
      width: 50vw;
      height: 694px;
    }
  }

  .header__cat-feed::after {
    background-image: url("../../images/cat-feed-background-desktop@1x.jpg");
    background-size: 1040px 694px;
    width: 50vw;
    height: 694px;
    transform: none;
    left: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/cat-feed-background-desktop@2x.jpg");
    }
  }
}

.catalog .header__logo-text-link {
  @media (max-width: 767px) {
    margin-top: 2px;
  }
}

@media (min-width: 768px) {
  .header__logo-text-link {
    margin-left: 13px;
  }

  .header {
    padding-top: 25px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-top: 55px;
  }

  .header__logo-text-link {
    margin: 0;
    padding-left: 14px;
  }
}
