.header__logo-text-link {
  display: block;
  margin-left: 56px;
}

.header {
  padding: 13px 0 10px;
  position: relative;
}

@media (min-width: 768px) {
  .header__logo-text-link {
    margin-left: 13px;
  }

  .header {
    padding-top: 25px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-top: 55px;
  }

  .header__logo-text-link {
    margin: 0;
    padding-left: 13px;
  }
}
