.location__description {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.location__adress {
  line-height: 20px;
  font-style: normal;
}
