.main-nav__item a {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

.main-nav__logo-container {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .main-nav__item {
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 22px 0 24px;
    box-shadow: 0 -1px 0 0 #e6e6e6;
  }

  .main-nav__item:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: #ffffff;
  z-index: 2;
  cursor: pointer;
  background-image: url("../../icons/stack.svg#burger");
  background-size: 24px 24px;
  margin-bottom: 3px;
}

.main-nav--off .main-nav__toggle {
  width: 18px;
  height: 18px;
  background-image: url("../../icons/stack.svg#obelisk");
  background-size: 18px 18px;
  margin-top: -5px;
}

@media (max-width: 767px) {
  .main-nav--on .main-nav__list {
    display: none;
  }
}

.main-nav__logo-link {
  text-decoration: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  display: block;
  position: static;
}

@media (max-width: 767px) {
  .main-nav--nojs {
    flex-wrap: wrap;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav--nojs .main-nav__item:last-child {
    padding-bottom: 10px;
    border-bottom: none;

    &::after {
      content: "";
      background-color: #e6e6e6;
      height: 1;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

@media (max-width: 767px) {
  .main-nav__list {
    padding: 0;
    position: absolute;
    width: 320px;
    margin: 0;
    left: 0;
    bottom: -199px;
    background-color: #ffffff;
    z-index: 10;
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    position: static;
    margin: 0;
    min-width: 436px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-right: 4px;
    margin-bottom: 1px;
  }

  .main-nav__item a {
    font-size: 18px;
    line-height: 24px;
  }

  .main-nav__item--active {
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-color: #68b738;
    text-decoration-thickness: 2px;
  }
}

@media (min-width: 1200px) {
  .main-nav__list {
    min-width: 475px;
    margin-right: 2px;
  }

  .main-nav__item a {
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
  }

  .main-nav__item {
    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
    }
  }

  .main-nav__item--active {
    text-decoration-color: #ffffff;
  }

  .main-nav__list-catalog .main-nav__item--active {
    text-decoration-color: #68b738;
  }

  .main-nav__item--catalog a {
    color: #000000;
  }

  .main-nav__list-catalog a {
    color: #111111;
  }

  .main-nav__logo-container {
    &:hover {
      opacity: 80%;
    }

    &:active {
      opacity: 60%;
    }
  }
}
