.main-footer {
  background-color: #f2f2f2;
  padding: 40px 0;
}

.main-footer__logo-text-link {
  mask-image: url("../../icons/stack.svg#cat-logo-text-footer");
  content: "";
  mask-position: auto;
  mask-repeat: no-repeat;
  width: 128px;
  height: 24px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 19px;
  background-color: #111111;
  position: relative;

  &:hover {
    background-color: #3e3e3e;
  }

  &:focus-visible {
    background-color: #3e3e3e;
  }

  &:active {
    background-color: #6b6b6b;
  }
}

@media (max-width: 767px) {
  .main-footer__social-list {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -17px;
      left: -74px;
      right: -74px;
      height: 1px;
      background-color: #d9d9d9;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 45px;
      left: -74px;
      right: -74px;
      height: 1px;
      background-color: #d9d9d9;
    }
  }
}

.main-footer__logo-text {
  display: block;
}

.main-footer__social-list {
  margin: 20px auto;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
}

.main-footer__logo-link {
  margin-top: 17px;
}

@media (min-width: 768px) {
  .main-footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__social-list {
    margin: 0;
  }

  .main-footer__logo-text-link {
    margin: 0;
  }

  .main-footer {
    padding: 55px 0;
  }

  .main-footer-logo-link {
    margin: 0;
    width: 168px;
  }
}
