.news__title {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

.news__description {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Oswald", sans-serif;
}

.news__input {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #444444;
}

.news {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .news {
    margin-bottom: 80px;
  }
}

@media (min-width: 1200px) {
  .news {
    margin-bottom: 104px;
  }
}
